# Vercel
.vercel

# Environment variables - NEVER commit these!
.env
.env.local
.env.development
.env.production
.env*.local

# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
